/*
Style Name: HTML Attributes & Forms
Description: Class File
Author: Joanna Chow
Version: 1.0
Tags: FIP
*/

/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* _________________________________________

        CSS Guide
__________________________________________*/

/* 01. General Styles
       - Reset
       - Global
         - General
         - Floats
         - Font Awesome                       
   02. CSS Grid
   03. Site Header
       - Logo
       - Nav
   04. Hero
       - Image
       - Statement Style
   05. Recipe
      - Genernal
      - Text Style        
   06. Nutrition Checker
   07. Article
   08. Footer                 
/* _____________________________________

/* ______________________________________

    01. General Styles
    ___________________________________*/

/* -------------
  Reset
-------------*/

body {
    margin: 0;
    padding: 0;
    color: #1A1A1A;
    font-family: 'Warnock Pro', serif;
 }

 h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
 }

 /* -------------
  Global
-------------*/

   /*------------ General ------------*/

    .hidden {
        display: none !important;
    }

    .margin-tb {
        margin-top: 1.5em !important;
        margin-bottom: 2.5em !important;
    }

    .margin {
        margin: 0 3.05em;
    }

    .padding {
        padding: 0 1rem;
    }

    input[type=text] , button , input[type=email] {
        font-family: 'Ovo' , serif;
    }

    /*------------ End General ------------*/

   /*------------ Floats ------------*/

   .f-left {
    float: left;
    }

    .f-right {
    float: right;
    }

    /*------------ End Floats ------------*/
    /*------------ Font Awesome ------------*/

   .fas .fab {
    margin-right: .5em;
    font-size: 1em;
    color: #737a7f;
    }

     /*------------ End Font Awesome ------------*/

/* _____________________________________

   02. CSS Grid
   _____________________________________ */

   @supports (grid-area: auto) {
     
    .site {
       max-width: none;
    }

    /*--------- Grid Items ---------*/

    .head, .main > *, .foot > * {
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
    }

    .hero-text {
        display: grid; 
        grid-column: 1 / span 3;
    }

    .center-item {
        display: grid;
        grid-column: 2 / span 1;
        grid-template-columns: 1fr;
    }

    .recipe {
        background-color: #eae8e6;
        justify-content: space-evenly;
        row-gap: 1em;
        column-gap: 2em;
    }

    .lat-art{
        grid-column: 1/4;
        display: grid;
        grid-template-rows: repeat(3, auto);
        background-color: #eae8e6;
        row-gap: 1em;
    }

    .three-items {
        display: grid;
        grid-column: 1 / span 1;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-evenly;
     }

    .subscribtion {
        grid-column: 3;
    }


    /*--------- End Grid Items ---------*/
/* _____________________________________

   03. Site Header
   _____________________________________ */

    .head-logo {
        grid-column: 2 ;
        justify-self: center;
        padding: .6em 0 .5em 0;

    }

    .logo-img {
        max-width: 350px;
        height: auto;
    }

     /*------------ Start Nav Styling ------------*/

    .nav {
        grid-column: 1 ;
        align-self: center;
    }

    .nav ul {
        margin: 0;
        padding: 0;
        text-decoration: none;
        text-align: start;
    }
      
    nav li {
        display: inline;
        margin-right: 3em;
     }

    nav li a , .head-icon a {
        text-decoration: none;
        color: #737a7f;
        font-size: 1.1em;
    }

    nav li a.active {
        padding-bottom: .2em;
        border-bottom: 2px solid rgb(24, 24, 65)
     }

    .head-icon { 
        grid-column: 3 ;
        text-align:right;
        align-self: center;
    }

    .head-icon i {
        padding: 8px;
    }

    /*--------- End Site Header ---------*/

    /*------------- Start Hero ------------*/

    .hero {
        margin: 0 0;
        padding: 0 0;
    }

    .hero-img img {
        width: 100%;
    }

    .hero-img {
        display: grid;
        grid-column: span 4;
    }

    .hero-img > * {
        grid-column: 1;
        grid-row: 1;
    }

     /*------------- Statement Styles ------------*/

    .hero > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .hero h2, .hero p {
        padding: .5em 9em;
        line-height:1.8em;
        text-align: center;
    }

    .hero h2 {
        font-size: 1.8em;
        font-weight: 600;
        font-style: normal;
    }

    .hero p {
        font-size: 1.1em;
        font-weight: 400;
        font-style: normal;
    }

    .hero span {
        font-family: 'freight-sans-pro' , sans-serif;
        font-size: 1em;
        font-weight: 600;
        letter-spacing: .12em;
        font-style: normal;
        line-height: normal;
        color: #666666;
    }

    /*------------- End Hero ------------*/

    /*------------- Start Recipe ------------*/

    .rec-title {
        align-items: center;
        grid-column: 1/4;
        margin-top: 1em;
    }

    .rec-items {
        grid-row: 2;
        grid-column: 1/4;
        display: grid;
        grid-auto-flow: column;
        justify-self: center;
        grid-gap: 6.6em;
    } 

     /*------------- Text Styles ------------*/

    .title h2 {
        padding: .5em;
        text-align: center;
        font-size: 1.8em;
        font-weight: 600;
        font-style: normal;
    }
 
    .sub-title a:link {
        text-decoration: none !important;
    }

    .sub-title a {
        color: inherit;
    }

    .sub-title h3 {
        font-size: 1.5em;
        font-weight: 600;
        font-style: normal;
        color: #1A1A1A;
        margin-bottom: 1em;
    }

    .sub-title span {
        font-family: 'freight-sans-pro' , sans-serif;
        font-size: .8em;
        font-weight: 600;
        letter-spacing: .12em;
        font-style: normal;
        line-height: normal;
        color: #666666;
    }

    /*------------- End Recipe ------------*/

    /*------------- Start Nutrition Checker ------------*/
    .nut-check {
        margin-top: 1.5em;
    }

    form {
        margin-top: 4.2em;
    }

    .nut-check input {
        margin: 0 auto;
        width: 80%;
        padding: 12px;
        float: left;
        font-size: 1.1em;
        border: 3px solid #1A1A1A;
        border-radius: 6px 0 0 6px;
    } 

    .nut-check button {
        padding: 14px;
        position: absolute; 
        background: #1A1A1A;
        color: white;
        border: 1px solid #1A1A1A;
        border-radius: 0 6px 6px 0;
        cursor: pointer;
        font-size: 1.1em;
        transition: 0.3s;
    }

    button:hover {
        background-color: #4D4D4D;
        color: white;
      }
    
    .nut-tag {
       margin: 0px auto;
    }

    .nut-tag ul {
        list-style-type: none;
        margin: 0;
        padding: 1em 0 0 1.5em;
        overflow: hidden;
        text-align: center;
    }

    .nut-tag li {
        float: inline-start;
    }

    .nut-tag li a {
        font-size: 1.1em;
        color: #4D4D4D;
        display: inline-block;
        text-align: center; 
        padding: 15px;
        text-decoration: none;
        margin-bottom: 2em;
    }

    .nut-tag li a:hover {
        background-color: #1A1A1A;
        color: #f7f7f7;
      }

    /*------------- End Nutrition Checker ------------*/

    /*------------- Start Article ------------*/

    .art-title {
        grid-row: 1;
        grid-column: 1/5;
        text-align: center;
        margin-top: 1em;
    }

    .art-items {
        display: grid;
        grid-row: 2/3;
        grid-column: 2 / span 1;
        grid-template-columns: auto;
        grid-gap: 0 2.5em;
    }
    
    .art-one {
        grid-column: 1/3;
    }
    .art-two {
        grid-column: 3/4;
    }
    .art-three {
        grid-column: 4/5;
    }
    .art-four {
        grid-column: 1/2;
    }
    .art-five {
        grid-column: 2/4;
    }
    .art-six {
        grid-column: 4/5;
    }

    /*------------- End Article ------------*/

    /*------------- Start Footer ------------*/
    .foot {
        background-color: #4d4d4d;
        padding: 2em;
    }

    .foot span {
        font-family: "freight-sans-pro" , sans-serif;
        font-size: 1.2em;
        color: #999999 !important;
    }

    .foot nav li {
        margin: 0;
        display: block;
    }

    .foot-nav , .foot-icon > * {
        color: #f7f7f7;
    }

    .foot a {
        line-height: 1.5em; 
    }

    .foot-logo {
        filter:  brightness(0) invert(1);
    }

    .foot-logo , .foot-icon {
        justify-self: center;
    }

    .foot-icon > * {
        font-size: 1.4em;
        margin: .5em;
    }

    .center-item {
        padding-bottom: 2em;
    }

    .subscribtion {
        margin-top: 1.5em;
    }

    .subscribtion h4 , h5 , .disclaimmers {
        text-align: center;
        color: #f7f7f7;
        line-height: .1em; 
    }

    .subscribtion h4 {
        font-size: 1.4em;
    }

    .subscribtion h5 {
        font-size: 1.1em;
        margin-bottom: -2.2em;
    }

    .sub-form {
        padding-right: 4em;
    }

    .sub-form input {
        width: 80%;
        padding: 12px;
        float: left;
        font-size: 17px;
        border-radius: 28px 0 0 28px;

    } 

    .sub-form button {
        width: 8%;
        padding: 12.5px;
        position: absolute; 
        background: #808080;
        color: white;
        border-radius: 0 28px 28px 0;
        cursor: pointer;
        font-size: 17px;
        transition: 0.3s;
    }

    .disclaimmers {
        text-align: center;
        padding: 1.5em 0;
    }

    /*------------- End Footer ------------*/
    
    